


body {
    background-color: #ede2cc;
}

h1 {
    font-size: xx-large;
    color: #D8C9A8;
    background-color: #4F5B2A;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}

h2 {
    font-size: xx-large;
    /* background: #F5EFE3; */
    color: #4F5B2A;
    text-align: center;
    text-transform: uppercase;
    /* padding: 50px; */
}

#kpiContainer {
    display: flex;
    gap: 16px;
    margin: 20px 0;
    flex-wrap: wrap;
    padding: 60px 24px 60px;
    background-color: #F5EFE3;
}

.kpiCard {
    background: #F5EFE3;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 46px 20px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 160px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.kpiCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(#4F5B2A);
    
}

.kpiCard h3 {
    font-size: 20px;
    color: #4F5B2A;
    margin: 0 0 8px 0;
    text-transform: uppercase;
    letter-spacing: 0.5;

}

.kpiCard p {
    font-size: 28px;
    font-weight: bold;
    color: #4F5B2A;
    margin: 0;
}

#supplierChartContainer {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding: 0 24px 60px 60px;
    flex-wrap: wrap;
}

#supplierChartContainer canvas {
    max-width: 300px;
    max-height: 300px;
    flex: 1;
}

#monthSelector {
    padding: 8px 22px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 16px 0;
    cursor: pointer;
}

#monthSelector:hover {
    border-color: #999;
}

#monthSelector:focus {
    outline: none;
    border-color: #4e4d4d;
}

#supplierTableContainer {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    margin: 20px 0;
    width: 880px;
    padding: 5px 20px 80px;
    font-size: xx-large;
    color:#4F5B2A;
  
}


#supplierTableContainerBox {
    width: 280px;
    height: 280px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 1 1px 3px rgba(0, 0, 0, 0.1);
    
}


#supplierTableContainerBox canvas {
    width: 100% !important;
    height: 100% !important;
    
}


